name: Node CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14.x'
          cache: 'yarn'
      - run: yarn install --frozen-lockfile # optional, --immutable
      - name: Build project
        run: yarn build
      - name: Copy dist to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASS }}
          source: "dist,!dist/*/*.map,package.json,yarn.lock,bin,views"
          target: ${{ secrets.BUILD_PATH }}
      - name: Instal dependencies on VPS and restart Node server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASS }}
          script: |
            cd ${{ secrets.BUILD_PATH }}
            sh ./bin/deployment.sh '${{ secrets.NODE_ENV }}' '${{ secrets.PORT }}' '${{ secrets.ORIGIN_URL }}' '${{ secrets.DB_NAME }}' '${{ secrets.DB_PASS }}' '${{ secrets.DB_USER }}' '${{ secrets.DB_URI }}' '${{ secrets.SECRET_ACCESS_KEY }}' '${{ secrets.SECRET_REFRESH_KEY }}' '${{ secrets.VK_CLIENT_ID }}' '${{ secrets.VK_CLIENT_SECRET }}' '${{ secrets.REDIS_URL }}' '${{ secrets.SSL }}' '${{ secrets.SENTRY_DSN }}'
            rm -rf ./bin